@model List<MobiZ.Models.CartItem>

<div class="shopping_cart">
    <div class="cart">
        <a href="/gio-hang" title="View my shopping cart" rel="nofollow">
            <strong class="opencart"> </strong>
            <span class="cart_title"></span>
            <span class="no_product">@Model.Count sản phẩm</span>
        </a>
    </div>
</div>
